{% extends "main.html" %}

{% block scripts %}
    <script src="/static/js/shout-reset.js"></script>
{% endblock %}

{% block maincontent %}
<div data-role="page" data-control-title="Reset" id="reset-pwd-page">
    <div data-theme="a" data-role="header">
        <h3>
            Reset Password
        </h3>
    </div>
    <div data-role="content">
        <form id="reset-form" action="/password" method="POST">
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="textinput13">
                    New Password
                </label>
                <input name="password" id="textinput13" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="textinput14">
                    Retype New Password
                </label>
                <input name="confirm_password" id="textinput14" placeholder="" value=""
                type="text">
            </div>
            <input id="reset-submit" type="submit" data-theme="a" value="Submit">
            <input type="hidden" name="t" value="">
        </form>
    </div>
</div>

{% endblock %}
