{% extends "main.html" %}

{% block content %}

    <h1>Login</h1>

    {% if failed %}

        <strong>Login failed!</strong> Check your credentials and try again.

    {% endif %}

    <form class="form" action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" value="{{ username }}" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
    <br>
    <a href="/forgot" class="btn btn-default">Forgot password</a>


{% endblock %}